QLineEdit
{

	padding-left: 8px;

	border: 1px solid #BDBDBD;
	border-radius:2px;

	height: 36px;

	color: #212121;

}

QLineEdit::hover
{
	border: 1px solid #673AB7;
}

QLineEdit::edit
{
	border: 1px solid #673AB7;
}
