<RCC>
    <qresource prefix="/new/prefix1">    
    </qresource>
  QTreeView
  {
  border-style:none;
  }

  QTreeView::item
  {
  height: 26;
  color:rgba(255, 255, 255, 0);
  }

  QTreeView::item:selected:active
  {
  background-color: rgba(135, 206, 250, 153);
  }

  QTreeView::item:selected:!active, QTreeView::item:hover
  {
  background-color: rgba(135, 206, 250, 50);
  }
</RCC>
